.cards
  .card
    .ribbon-wrapper
      .ribbon RIBBON
    .card-image
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png"}/
    %a{href: "/users"}
      .card-header Users
      .card-copy
        %p Tools for user management.
      .card-stats
        %ul
          %li
            = pluralize(User.find_each.size, "user")
            %span 
              in database

  .card
    .card-image
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png"}/
    %a{href: "/events"}
      .card-header Events
      .card-copy
        %p Tools for events management.
      .card-stats
        %ul
          %li
            = pluralize(Event.find_each.size, "event")
            %span 
              in database

  .card
    .card-image
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}/
    %a{href: "/movies"}
      .card-header Movies
      .card-copy
        %p Movie database
      .card-stats
        %ul
          %li
            = pluralize(Movie.find_each.size, "movie")
            %span 
              in database
