.cards
  .card
    .ribbon-wrapper
      .ribbon RIBBON
    .card-image
    %a{href: "/users"}
      .card-header Users
      .card-copy
        %p Tools for user management.
      .card-stats
        %ul
          %li
            = pluralize(User.find_each.size, "user")
            %span
              in database
