%h1 Listing users
%table
  %thead
    %tr
      %th Email
      %th Name
      %th{:colspan => "2"}
  %tbody
    - User.find_each do |user|
      %tr
        %td= user.email
        %td= user.name
        %td= link_to 'Show', 'admin#user'
        %td= link_to 'Destroy', 'admin#user', method: :delete, data: { confirm: 'Are you sure?' }
