%h2 Vote:

- unless newest_event.nil?
  %h3 Current:
  = render 'event_vote', :event => newest_event
- else
  %p.form No event currently under vote!

- unless votable_events.empty?
  %h4 other:
  - for event in votable_events
    = render 'event_vote', :event => event

