@import 'bourbon/bourbon'
@import 'base/base'
@import 'neat/neat'

@import 'navbar'
@import 'footer'
@import 'flash'
@import 'home'
@import 'registrations'
@import 'admin'

body
  margin: 0px

.content
  height: 100%
  margin-top: 200px
  margin-bottom: 200px
  +outer-container
