@import 'bourbon/bourbon'
@import 'base/base'
@import 'neat/neat'

@import 'navbar'
@import 'footer'
@import 'flash'
@import 'home'
@import 'registrations'
@import 'admin'

body
  margin: 0px
  +transition(all 0.3s)

.content
  margin-top: 50px
  +outer-container

.form
  +span-columns(6)
  +shift(3)

.beside-form
  +span-columns(3)

.link
  border: 1px
  background: $light-gray
  border-color: black
  border-radius: 2px
  margin: 3px
  padding: 3px

.small
  margin: 2px
  +display(block)
  height: 2em
  width: 2em
  border-radius: 2em

.green
  background-color: $light-green

#error_explanation
  @extend .flash-error

.hidden
  +display(none)

.suggestion
  color: $light_gray
  font-size: smaller

.center-text
  text-align: center

.small-avatar
  height: 100px
  margin: 1em auto
  display: block

.vote_table
  display: none
