@import 'bourbon/bourbon'
@import 'base/base'
@import 'neat/neat'

@import 'navbar'
@import 'footer'
@import 'flash'
@import 'home'
@import 'registrations'
@import 'admin'

body
  margin: 0px

.content
  margin-top: 100px
  margin-bottom: 100px
  +outer-container

.form
  +span-columns(6)
  +shift(3)

.link
  border: 1px
  background: $light-gray
  border-color: black
  border-radius: 2px
  margin: 3px
  padding: 3px

.small
  margin: 2px
  +display(block)
  height: 2em
  width: 2em
  border-radius: 2em

.green
  background-color: $light-green

