%h2 Vote:
- if current_user.try :admin?
  %p
    = link_to 'New', new_event_path

- unless votable_events.empty?
  - for event in votable_events
    = render 'event_vote', :event => event
- else
  %p.form No event currently under vote!

